<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%-5p] [%-16.16t] [%36.36c] - %msg%n</Pattern>
        </encoder>
    </appender> -->

    <appender name="ALL" class="ch.qos.logback.core.FileAppender">
        <file>chapter_006/target/log/all.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%-5p] [%-16.16t] [%36.36c] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>chapter_006/target/log/error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%-5p] [%-16.16t] [%36.36c] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <!-- <appender-ref ref="STDOUT" /> -->
        <appender-ref ref="ALL" />
        <appender-ref ref="ERROR" />
    </root>
</configuration>